<h2>Ordenes de Clientes</h2>

<form action="" class="formulario">

    <div class="campo">
        <label for="nombre">Nombre Cliente</label>
        <input type="text" id="nombre">
    </div>
    <div class="campo">
        <label for="nombre">Dirección</label>
        <input type="text" id="nombre">
    </div>
    <div class="campo">
        <label for="nombre">Num. Factura</label>
        <input type="text" id="nombre">
    </div>
    <div class="campo">
        <label for="nombre">Total</label>
        <input type="text" id="nombre">
    </div>
    <div class="campo">
        <label for="nombre">Total Factura</label>
        <input type="text" id="nombre">
    </div>
    <div class="campo expandir">
        <label for="nombre">Detalle</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>

    <div class="campo expandir">
        <label>Tipo Proveedor:</label>
        <div class="opciones">
            <input type="radio" id="normal" name="contact" value="normal">
            <label for="normal">Normal</label>

            <input type="radio" id="basico" name="contact" value="basico">
            <label for="basico">Mayoreo</label>
        </div>
    </div>

    <div class="campo enviar expandir">
        <input type="submit" class="boton" value="Enviar">
    </div>
</form>