<div class="container">


    <h3 class="head"> Login to App</h3>
    <div class="login">
        <img src="./assets/img/logo.png" alt="">
    </div>
    <form>
        <div class="main">
            <div class="inputs">
                <label for="">Usuario</label>
                <input type="text" class="form-control" placeholder="Email" autofocus>
            </div>
            <div class="inputs">
                <label for="">Password</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>

        </div>
        <div class="footer">
            <div class="info-footer">
                <a routerLink="/ordenes">Forgot your password?</a>
                <a href="">Sign up now</a>

            </div>
            <div class="boton">

                <button type="submit" class="btn btn-large btn-danger pull-right">Login</button>
            </div>
        </div>

    </form>
</div>