<!-- <div class="pagina"> -->
<aside class="sidebar">
    <div class="usuario">
        <img src="assets/img/usuario.svg" alt="user">
        <p>Bienvenido <span>Admin User</span></p>
    </div>
    <div class="buscador">
        <input type="text" placeholder="buscar...">
    </div>

    <div class="menu-admin">
        <h2>Menu de Administracion</h2>
        <ul class="menu">
            <li>
                <a href="#"><i class="fas fa-address-book">
                    Clientes
                </i></a>
                <ul>
                    <li>
                        <a routerLink="listcliente">
                            <i class="fas fa-list"></i> Ver Todos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-plus"></i> Agregar Nuevo
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fas fa-chart-line"></i>
                    Ordenes
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-list"></i> Ver Todos
                        </a>
                    </li>
                    <li>
                        <a routerLink="ordenes">
                            <i class="fas fa-plus"></i> Agregar Nuevo
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fas fa-box"></i>
                Inventario
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-list"></i> Ver Todos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-plus"></i> Agregar Nuevo
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fas fa-file-alt"></i>
                Facturas
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-list"></i> Ver Todos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-plus"></i> Agregar Nuevo
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fas fa-calendar-alt"></i>
                Calendario
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-list"></i> Ver Todos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-plus"></i> Agregar Nuevo
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fas fa-pencil-alt"></i>
                Editar Perfil
                </a>
            </li>
        </ul>
    </div>
</aside>

<!-- </div> -->