<div class="contenedor">
    <div class="panel-group" id="accordion">
        <!-- Packages Panel -->
        <div class="panel header">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapseZero">
                    <a href="#"><small><span class="glyphicon glyphicon-menu-right"></span></small></a> Informacion
                </h4>
            </div>
            <!-- <hr class="new1"> -->
            <div class="panel-body">
                <p>Fecha Actual</p>
            </div>
        </div>

        <!-- Licenses Panel -->
        <div class="panel body">
            <div class="panel heading">
                <h4>
                    Lista de Clientes
                </h4>
            </div>

            <div class="panel-body">

                <div class="panel-interno">
                    <div class="panel-heading">

                        <div class="contador">
                            <h4 class="panel-title">Numero de Registros</h4>
                        </div>
                        <!-- <div class="col col-xs-6 text-right">
                                    <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                        </div> -->

                    </div>
                    <div class="panel-body">
                        <table class="table-list">
                            <thead>
                                <tr>
                                    <th class="hidden-xs"></th>
                                    <th>Num. Registro</th>
                                    <th>Cliente</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="list-grid" align="center">
                                        <a class="btn btn-sm btn-success"><span class="fas fa-list"></span></a>
                                        <a class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                                    </td>
                                    <td>14</td>
                                    <td> 1</td>
                                    <td> 22/11/2017 </td>
                                </tr>
                                <tr>
                                    <td class="list-grid" align="center">
                                        <a class="btn btn-sm btn-success"><span class="fas fa-list"></span></a>
                                        <a class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                                    </td>
                                    <td>14</td>
                                    <td> 1</td>
                                    <td> 22/11/2017 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Panel Table -->

                <!-- Panel Table -->

                <!-- Panel Table -->
            </div>

        </div>
    </div>
</div>